{%extends 'base.html'%}

{%block 'conteudo'%}

<button id="botao" style="margin-top: 2rem;">Imprimir</button>
<div id="mensagem" style="display:none;">
    <p class="mensagem">Deseja imprimir as precauções de uso?</p>
    <button id="sim">
    <a href="{% url 'precautions' receita.id%}">Sim</a>    
    </button>
    <button id="nao"><a href="{% url 'no-precautions' receita.id%}">Não</a></button>
</div>

<header>
    <div class="logo">
        RAIZ
    </div>
    <div class="receita-text">
        <div class="title">
            receita agronômica
        </div>
        <div class="receita-info">
            <div class="art">
                <div class="receita-key">
                    ART/TRT:
                </div>

                <div class="receita-value">
                    BR20200200001
                </div>
            </div>

            <div class="art">
                <div class="receita-key">
                    Receita nº:
                </div>

                <div class="receita-value">
                    BR202002RA000001
                </div>
            </div>
        </div>
    </div>

</header>


<section>
    <div class="section-header">
        1. RESPONSÁVEL TÉCNICO
    </div>
    <div class="content">
        <div class="table">
            <div class="receita-key">
                Nome:
            </div>

            <div class="receita-value" style="text-transform: uppercase;">
                {{receita.responsavel_tecnico.nome}}
            </div>
        </div>
        <div class="table">
            <div class="receita-key">
                CPF/CNPJ:
            </div>

            <div class="receita-value">
                {{receita.responsavel_tecnico.cnpj}}
            </div>
        </div>
        <div class="table">
            <div class="receita-key">
                Número CREA/CFTA:
            </div>

            <div class="receita-value">
                {{receita.responsavel_tecnico.numero_registro}}
            </div>
        </div>
    </div>

</section>

<section>
    <div class="section-header">
        2. PRODUTOR RURAL
    </div>
    <div class="content">
        <div class="table">
            <div class="receita-key">
                Nome:
            </div>

            <div class="receita-value" style="text-transform: uppercase;">
                {{receita.produtor_rural.nome}}
            </div>
        </div>
        <div class="table">
            <div class="receita-key">
                CPF/CNPJ:
            </div>

            <div class="receita-value">
                613.339.040-96
            </div>
        </div>
    </div>
    <div class="content">
        <div class="table">
            <div class="receita-key">
                Propriedade:
            </div>

            <div class="receita-value">
                {{receita.produtor_rural.propriedade.descricao}}
            </div>
        </div>
        <div class="table">
            <div class="receita-key">
                CPF/CNPJ:
            </div>

            <div class="receita-value">
                {{receita.produtor_rural.propriedade.cnpj}}
            </div>
        </div>
    </div>
    <div class="content">
        <div class="table">
            <div class="receita-key">
                Local de Aplicação:
            </div>

            <div class="receita-value">
                {{receita.produtor_rural.propriedade.local}}
            </div>
        </div>
        <div class="table">
            <div class="receita-key">
                Latitude:
            </div>

            <div class="receita-value">
                {{receita.produtor_rural.propriedade.latitude}}
            </div>
        </div>
        <div class="table">
            <div class="receita-key">
                Longitude:
            </div>

            <div class="receita-value">
                {{receita.produtor_rural.propriedade.longitude}}
            </div>
        </div>
    </div>
</section>

<section>
    <div class="section-header">
        3. DIAGNÓSTICO E RECOMENDAÇÕES TÉCNICAS
    </div>
    <div class="content">
        <div class="table">
            <div class="receita-key">
                Cultura:
            </div>

            <div class="receita-value">
                {{receita.diagnosticos_recomendacoes.cultura}}
            </div>
        </div>
        <div class="table">
            <div class="receita-key">
                Alvo:
            </div>

            <div class="receita-value">
                {{receita.diagnosticos_recomendacoes.alvo}}
            </div>
        </div>
    </div>
    <div class="content">
        <div class="table">
            <div class="receita-key">
                Produto Comercial:
            </div>

            <div class="receita-value">
                {{receita.diagnosticos_recomendacoes.produto_comercial}}
            </div>
        </div>
        <div class="table">
            <div class="receita-key">
                Classe toxicológica:
            </div>

            <div class="receita-value">
                Categoria: {{receita.diagnosticos_recomendacoes.classe_toxicologica.nivel_categoria}} ({{receita.diagnosticos_recomendacoes.classe_toxicologica.descricao}})
            </div>
        </div>
    </div>
    <div class="content">
        <div class="table">
            <div class="receita-key">
                Area a tratar:
            </div>

            <div class="receita-value">
                {{receita.diagnosticos_recomendacoes.area_a_tratar}}
            </div>
        </div>
        <div class="table">
            <div class="receita-key">
                Dosagem:
            </div>

            <div class="receita-value">
                {{receita.diagnosticos_recomendacoes.dosagem}}
            </div>
        </div>
        <div class="table">
            <div class="receita-key">
                Quandade a adquirir:
            </div>

            <div class="receita-value">
                {{receita.diagnosticos_recomendacoes.quantidade_a_adquirir}}
            </div>
        </div>
        <div class="table">
            <div class="receita-key">
                Nº aplicação:
            </div>

            <div class="receita-value">
                {{receita.diagnosticos_recomendacoes.numero_aplicacoes}}
            </div>
        </div>
    </div>
    <div class="content">
        <div class="table">
            <div class="receita-key">
                Volume de calda:
            </div>

            <div class="receita-value">
                {{receita.diagnosticos_recomendacoes.volume_da_calda}}
            </div>
        </div>
        <div class="table">
            <div class="receita-key">
                Intervalo de segurança:
            </div>

            <div class="receita-value">
                {{receita.diagnosticos_recomendacoes.intervalo_de_seguranca}}
            </div>
        </div>
    </div>
    <div class="content">
        <div class="table">
            <div class="receita-key">
                Modalidade de aplicação:
            </div>

            <div class="receita-value">
                {{receita.diagnosticos_recomendacoes.modalidade_aplicacao}}
            </div>
        </div>
        <div class="table">
            <div class="receita-key">
                Equipamento de aplicação:
            </div>

            <div class="receita-value">
                {{receita.diagnosticos_recomendacoes.equipamento_aplicacao}}
            </div>
        </div>
    </div>
    <div class="content">
        <div class="table">
            <div class="receita-key">
                Época de aplicação:
            </div>

            <div class="receita-value">
                {{receita.diagnosticos_recomendacoes.epoca_aplicacao}}
            </div>
        </div>
        
    </div>

    <div class="section-header obs">
        Observações
    </div>

    <div class="content">
        TERMO DE CONHECIMENTO DE RISCO E DE RESPONSABILIDADE <br/>
        O produtor acima idenficado está ciente que os produtos agrotóxicos hormonais, inclusive os produtos com
        ingrediente avo a base de ácido 2,4-
        diclorofenoxiacéco (2,4-D), em caso de deriva, causam grandes prejuízos para as culturas sensíveis. O produtor
        fica ciente que somente poderá
        aplicar os produtos agrotóxicos hormonais respeitando as seguintes condições meteorológicas:<br/>
        - Velocidade do Vento menor que 10 Km/h;<br/>
        - Umidade Relava do Ar superior a 55%;<br/>
        - Temperatura ambiente menor que 30ºC.<br/>
        No caso de recomendações específicas previstas na bula do produto, estas deverão ser obrigatoriamente seguidas.
        Em caso de omissão, deverão
        ser adotados os parâmetros gerais acima elencados.<br/>
        O produtor fica ciente de que o equipamento ulizado para aplicação de agrotóxicos hormonais deverá estar em
        condições técnicas adequadas,
        inclusive com bicos compaveis, conforme a recomendação do fabricante do produto agrotóxico.
    </div>
</section>

<section>

    <div class="section-header">
        4. PRECAUÇÕES DE USO
    </div>

    <div class="content">
        <br/>Os tratamentos fitossanitários deverão ser feitos com rigorosa observância dos cuidados e das recomendações técnicas, no sendo de garanr a
        eficiência do tratamento, e não ocasionar danos à saúde pública, ao meio ambiente e às explorações agropecuárias circunvizinhas, bem como, à
        qualidade dos produtos obdos. Não é permida a aplicação aérea de agrotóxicos e outros biocidas em áreas situadas a uma distância mínima de
        500 metros adjacente a mananciais de captação de água para abastecimento de populações, núcleos populacionais, escolas, habitações e locais de
        recreação, e, de 250 metros adjacentes a mananciais de água, moradias isoladas e agrupamento de animais e culturas suscepveis a danos. Será
        permida, porém, aplicação de agrotóxicos e biocidas nas lavouras, se efetuada por atomizadores ou canhões, numa distância mínima de 250
        metros e, por aparelhos costais ou tratorizados de barra, numa distância mínima de 50 metros dos locais acima mencionados. <br/><br/>
        

        Em todos os casos as aplicações somente poderão ser feitas quando a direção do vento for tal que não leve resíduos de agrotóxicos e biocidas para
        estes locais. É obrigatório o uso de equipamentos de aplicação que ulizem tecnologia de redução de deriva de pelo menos 50% para aplicação
        tratorizada nas culturas de café e cana-de-açúcar. Não ulizar pulverizadores costais (manuais, pressurizados ou motorizados). Implementar
        bordadura de no mínimo, 10 metros livres de aplicação tratorizada de 2,4-D, com início no limite externo da plantação em direção ao seu interior
        sempre que houver povoações, cidades, vilas, bairros, bem como moradias ou escolas isoladas, a menos de 500 metros do limite externo da
        plantação. Evitar aplicações em proximidade de culturas sensíveis. São sensíveis ao produto todas as culturas dicoledôneas, hortaliças,
        bananeiras, quando a pulverização ange diretamente a folhagem. A ulização fora das especificações pode causar sérios danos em culturas
        sensíveis. Dessa forma, não aplique quando houver possibilidade de angir estas culturas. Não aplique o produto na presença de ventos fortes e
        nas horas mais quentes do dia. Quando o herbicida é usado na pós-emergência das culturas indicadas, não deve ser adicionado adjuvante na calda.
        Aplique somente as doses recomendadas e observe o intervalo de segurança (intervalo de tempo entre a úlma aplicação e a colheita). Para
        aplicação tratorizada, o mesmo indivíduo não pode realizar as avidades de mistura, abastecimento e aplicação.<br/>
    </div>
</section>

<section>

    <div class="section-header">
        5. EQUIPAMENTOS DE PROTEÇÃO INDIVIDUAL (EPI):
    </div>

    <div class="content">
        <br/>É obrigatório o uso de EPI em todas as operações de uso, seguindo indicações do fabricante, condas no rótulo e na bula do produto.<br/>
    </div>
</section>

<section>

    <div class="section-header">
        6. ORIENTAÇÕES QUANTO AO MANEJO INTEGRADO DE PRAGAS (MIP):

    </div>

    <div class="content">
        <br/>Recomenda-se o manejo integrado de pragas, envolvendo todos os princípios e medidas disponíveis e viáveis de controle, como o uso de agentes
        biológicos. Implementar estratégias de manejo de resistência, ulizando produtos com diferentes mecanismos de ação, diminuindo resistência do
        alvo e minimizando a chance dos agentes de controle ficarem menos efevo ao longo do tempo.<br/>
    </div>
</section>


<section>

    <div class="section-header">
        7. LOCAL PARA DEVOLUÇÃO DE EMBALAGENS VAZIAS:
    </div>

    <div class="content">
        <br/> ESTÁBULO - Rua Santo Antônio, 123 - Floresta, Porto Alegre - RS<br/>
    </div>
</section>

<div class="warning">
    *LEIA ATENTAMENTE E SIGA AS ORIENTAÇÕES DO RÓTULO E A BULA DO PRODUTO.
</div>

<div class="data">
    Porto Alegre, 25 de janeiro de 2023. 
</div>

<div class="assignature">
    <div class="name1" style="margin-right: 100px;margin-left: 10px;">
        <div class="sub">
            
        </div>
        <div class="name"  style="font-weight: bold;text-transform: uppercase;">
            {{receita.produtor_rural.nome}}
        </div>
    </div>

    <div class="name1">
        <div class="sub">

        </div>
        <div class="name2">
            <span class="resp">
                Responsável técnico:
            </span>

            <span class="respname" style="font-weight: bold;" style="display: inline;text-transform: uppercase;"> 
                {{receita.responsavel_tecnico.nome}}
            </span><br/>

            <span class="resp">
                CPF:
            </span>

            <span class="respname">
                613.339.040-96
            </span><br/>

            <span class="resp">
                Número do registro (CREA/CFTA):
            </span>

            <span class="respname">
                61333904096
            </span>

            
        </div>
    </div>
</div>

<section>

    <div class="section-header precaucoes">
        PRECAUÇÕES DE USO E OUTRAS ORIENTAÇÕES
    </div>

    <div class="content">
        <br/><br/>1. Este produto é para uso EXCLUSIVAMENTE agrícola.<br/>
        2. Somente ulize o produto para a cultura, o alvo e as doses recomendadas.<br/>
        3. Respeitar o intervalo de segurança (período entre a úlma aplicação do produto e a colheita).<br/>
        4. Aplicar o produto, preferencialmente, nas horas mais frescas do dia, evitando-se dias chuvosos e com ventos fortes.<br/>
        5. É de inteira responsabilidade do usuário, a ulização que não siga as orientações do fabricante e responsável técnico.<br/>
        6. Não manuseie ou aplique o produto sem os equipamentos de proteção individual (EPI) recomendados pelo
        fabricando no preparo da calda e na aplicação do produto.<br/>
        7. Ulize os equipamentos de proteção individual (EPI), tais como: macacão com tratamento hidrorrepelente com
        mangas compridas passando por cima do punho das luvas e as pernas das calças por cima das botas; botas de borracha;
        avental impermeável; máscara com filtro específico; óculos de segurança com proteção lateral e luvas de nitrila,
        devendo ser vesdos e rerados na ordem correta, conforme pictogramas condos no rótulo e bula do produto.<br/>
        8. Não ulize equipamentos de proteção individual (EPI) danificados.<br/>
        9. Sempre ulize equipamento de proteção com cerficado de aprovação (CA) e dentro do vencimento.<br/>
        10. Não coma, não beba e não fume durante o manuseio e aplicação do produto.<br>
        11. Manuseie o produto em local aberto e venlado.<br/>
        12. Não ulize equipamento com vazamentos ou defeitos. Mantenha a regulagem do equipamento e dos bicos.<br/>
        13. Não desentupa bicos, oricios e válvulas com a boca.<br/>
        14. Não transporte ou armazene o produto juntamente com alimentos, medicamentos, rações, animais e pessoas.<br/>
        15. Para o transporte do produto, deve-se respeitar legislação vigente específica.<br/>
        16. Não permita a entrada de pessoas, animais e pessoas estranhas no local onde o produto foi aplicado, respeitando o
        período de reentrada, prescrita em bula. Se houver necessidade de reentrar na área antes desse período, deve-se usar
        os mesmos EPIs ulizados na aplicação.<br/>
        17. O depósito dos agrotóxicos deve seguir recomendações da norma técnica ABNT 9843, devendo ser exclusivo para
        agrotóxicos, permanecer fechado, idenficado com placa “Cuidado Veneno” e permido entrada somente de pessoas
        autorizadas, etc.<br/>
        18. Caso ocorra contato acidental da pessoa com o produto, siga as orientações descritas em primeiros socorros e
        procure rapidamente um serviço médico de emergência, levando este receituário, a bula ou Ficha de Informações de
        Produtos Químicos (FISPQ).<br/>
        19. Após as aplicações, lave as luvas para evitar contaminação. Deve-se tomar banho imediatamente com água fria e
        sabão neutro e colocar roupas limpas.<br/>
        20. Nunca reulize a embalagem vazia ou fracione o produto. Mantenha-o na embalagem original e sempre fechado.
        21. Tríplice Lavagem: O operador deverá ulizar os mesmos EPIs recomendados para a aplicação do produto e seguir os
        passos: Esvazie completamente o conteúdo da embalagem no tanque do pulverizador, mantendo-o na posição vercal
        durante 30 segundos. Adicione água limpa à embalagem até ¼ do seu volume. Tampe bem a embalagem e agite-a, por
        30 segundos. Despeje a água de lavagem no tanque pulverizador. Faça esta operação três vezes. Inulize a embalagem
        plásca ou metálica perfurando o fundo.<br/>
        22. Devolver as embalagens vazias lavadas em local indicado na nota fiscal ou nesse receituário.
        23. Desnação final de resíduos e embalagens vazias: A desnação final das embalagens vazias, após a devolução pelos
        usuários, somente poderá ser realizada pela Empresa Registrante ou por empresas legalmente autorizadas pelos órgãos
        competentes.<br/>
    </div>
</section>




<script>
    $(document).ready(function(){
    $('#botao').click(function(){
        $('#mensagem').show();
    });
    $('#sim').click(function(){
        // insira aqui o código para imprimir as precauções de uso
        $('#mensagem').hide();
    });
    $('#nao').click(function(){
        $('#mensagem').hide();
    });
});
</script>

{%endblock%}